.gitignore
.dockerignore
!.gitkeep
.idea
.buildpath
.settings
.env*
.DS_Store
.composer
.cache_perl
/deploy/phinx.yml
/doc
/data
/application/configs
/public/_uploads
/library/perl
/library/golang
/tests/_output
/tests/_support/_generated
/docker/nginx/custom-conf/conf.d/ssl/*.pem
/docker/nginx/custom-conf/conf.d/ssl/*.crt
/docker/nginx/custom-conf/conf.d/ssl/*.key
/docker/nginx/custom-conf/conf.d/*.conf
backup/**
*data*.tar.gz
*dump*.sql.gz
