/application/configs
/deploy/phinx.yml
.idea
.project
.buildpath
.settings
.env
docker-compose.override.yml
/data/**
/public/_uploads
/codeception.yml
/tests/_output
/tests/_support/_generated
!.gitkeep
/version_info.txt
library/golang
library/perl
/docker/nginx/custom-conf/conf.d/ssl/*.pem
/docker/nginx/custom-conf/conf.d/ssl/*.crt
/docker/nginx/custom-conf/conf.d/ssl/*.key
/docker/nginx/custom-conf/conf.d/*.conf
